{{- define "main" -}}

<div class="container-fluid docs">
    <div class="row flex-xl-nowrap">
      <div class="d-none d-xl-block col-xl-3 docs-toc" style="order: 1">
        <ul class="nav toc-top">
          <li><a href="#" id="back_to_top" class="docs-toc-title">List of terms</a></li>
        </ul>

        <nav id="TableOfContents" class="nav flex-column">
            <ul>
              {{ range where site.Pages "Params.definition" "!=" nil }}
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ .Params.definition }}"><a href="{{ .Permalink }}" class="nav-link" style="">{{ .Title }}</a></li>
              {{end}}
            </ul>
          </nav>
      </div>
      <main class="col-12 col-xl-8  pl-md-5 docs-content" role="main">

        <article class="article">

          <div class="docs-article-container mx-auto">

    {{ partial "resource_page_header" . }}
    {{ with .Params.definition }}
    <p class="pub-abstract border-bottom pb-1"><b>Definition: </b>{{ . | markdownify }}</p>
    {{ end }}
    
    <div class="article-style">
      {{ .Content }}
    {{ with .Params.alt_definition }}
        <p class=" mb-1 pr-2"><b>Alternative definition: </b>{{ . | markdownify }}</p>
    {{end}}


        {{ with .Params.related_terms }}
        {{ $term_urlized := "" }}
        <p class=" mb-1 pr-2"><strong>Related term{{- if gt (len .) 1 }}s{{- end -}}: </strong>
            {{ delimit (apply (apply (sort .) "partial" "glossary_link" ".") "chomp" ".") ", " }}
            {{/* Old working code, now in the line above! keeping it for the archive :joy:)
            {{- range $key, $tmp_rel_terms := . -}}
            {{ if gt $key 0 }}, {{ end }}
            {{- $term_urlized = urlize $tmp_rel_terms | truncate 35 -}}
            {{- $term_page := site.GetPage (printf "/glossary/%s" $term_urlized) -}}
            {{- if $term_page -}}
            {{ $term_url := $term_page.RelPermalink }}
            <a href={{ $term_url }}>{{ $tmp_rel_terms }}</a>
            {{- else -}}
            {{ $tmp_rel_terms }}
            {{- end -}}
            {{- end -}}  */}}
        </p>
        {{- end -}}

        {{/*  Hacky way to display the var only if the len of the string with all objects is longer than 0   */}}
        {{ if .Params.alt_related_terms }}
        {{ $alt_related_terms := delimit .Params.alt_related_terms ", " | len }}
        {{ if ne $alt_related_terms 0 }}
            {{ with .Params.alt_related_terms }}
            {{ $term_urlized := "" }}
            <p class=" mb-1 pr-2"><strong>Related term{{ if gt (len .) 1 }}s{{ end }} to alternative definition: </strong>
                {{ delimit (apply (apply (sort .) "partial" "glossary_link" ".") "chomp" ".") ", " }}
            </p>
            {{- end -}}
        {{end}}
        {{end}}

    {{/*  Hacky way to display the var only if the len of the string with all objects is longer than 0   */}}
    {{ if .Params.references }}
    {{ $references := delimit .Params.references ", " | len }}
    {{ if ne $references 0 }}
        <p class=" mb-1 pr-2"><b>Reference{{ if gt (len .Params.references) 1 }}s{{ end }}: </b>{{delimit .Params.references ", " ", & " | markdownify }}</p>
    {{end}}
    {{end}}
    {{/* Legacy code to split drafted and reviewed by
    {{ $drafted_by := delimit .Params.drafted_by ", " | len }}
    {{ if ne $drafted_by 0 }}
    <p class=" mb-1 pr-2"><b>Drafted by: </b>{{delimit .Params.drafted_by ", " ", & " | markdownify }} </p>
    {{end}}

    {{ $reviewed_by := delimit .Params.reviewed_by ", " | len }}
    {{ if ne $reviewed_by 0 }}
    <p class=" mb-1 pr-2"><b>Reviewed by: </b>{{delimit .Params.reviewed_by ", " ", & " | markdownify }}</p>
    </div>
    {{end}}  */}}
    {{ if .Params.drafted_by}}
    {{ $drafted_by := delimit .Params.drafted_by ", " | len }}
    {{ if ne $drafted_by 0 }}
    <p class=" mb-1 pr-2"><b>Drafted and Reviewed by: </b>{{ range .Params.drafted_by}}{{.}}, {{end}}{{delimit .Params.reviewed_by ", " | markdownify }}</p>
    </div>
    {{end}}
    {{end}}

    <div class="alert alert-info mt-5">
      <div>Note that we are currently working on an automated mechanism to link references cited above with their full-length version that can be found at https://forrt.org/glossary/references with all references used so far.
  
      </div>
    </div>

    {{ if ne .Params.docs_section_pager false }}
    {{ if site.Params.docs_section_pager }}
    <div class="article-widget">
      {{ partial "section_pager" . }}
    </div>
    {{ end }}
    {{end}}
  </div>
  

</article>
<div class="d-flex d-xl-none col-12 docs-toc" style="">

    <nav id="TableOfContents" class="nav flex-column">
        <ul>
          {{ range where site.Pages "Params.definition" "!=" nil }}
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ .Params.definition }}"><a href="{{ .Permalink }}" class="nav-link" style="">{{ .Title }}</a></li>
          {{end}}
        </ul>
      </nav>

</div>

        </main>
    </div>
</div>
{{- end -}}