
{{ $css := resources.Get "css/citations.css" }}
{{ if $css }}
  {{ $style := $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ else }}
  {{ warnf "CSS not found: css/citations.css. Using static version" }}
  <link rel="stylesheet" href="{{ "css/citations.css" | relURL }}">
{{ end }}

<body>
    <div class="container">
        <div class="citation-grid">
            <!-- Planning Box -->
            <div class="stage-box planning">
                <h3>Planning</h3>
                <div class="box-content">
                    <div class="content-group">
                        <h4>Tools & Practices</h4>
                        <div class="box-grid">
                            <div class="box tool"><a href="https://chromewebstore.google.com/detail/citation-transparency/cepnbdbhabaljgecaddglhhcgajphbcf?hl=en&pli=1" target="_blank">Citation Transparency browser extension</a></div>
                            <div class="box tool"><a href="#">FORRT citational justice module(coming soon)</a></div>
                            <div class="box tool"><a href="https://civiclaboratory.nl/2023/08/08/citational-politics-training-module/" target="_blank">Citational politics training module - CLEAR - Civic Laboratory for Environmental Action Research</a></div>
                            <div class="box practice"><a href="https://forrt.org/awop/" target="_blank">Academic Wheel of Priviledge (AWoP)</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Box -->
            <div class="stage-box project">
                <h3>Project</h3>
                <div class="box-content">
                    <div class="content-group">
                        <h4>Tools & Practices</h4>
                        <div class="box-grid">
                            <div class="box practice"><a href="http://www.criticalethnicstudiesjournal.org/citation-practices/" target="_blank">Citational Practices: Critical Ethnic Studies</a></div>
                            <div class="box practice"><a href="#" target="_blank">Diversity reading - see Table below (collapsible table)</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Paper Box -->
            <div class="stage-box paper">
                <h3>Paper</h3>
                <div class="box-content">
                    <div class="content-group">
                        <h4>Tools & Practices</h4>
                        <div class="box-grid">
                            <div class="box practice"><a href="https://docs.google.com/document/d/1JwwmOgRhd2p-Bl_RFEMnp04P0I2nNhOHW7JHdaLcyGs/edit?tab=t.0" target="_blank"> Mirya Holman’s pre-submission checklist</a></div>
                            <div class="box tool"><a href="https://jlsumner.shinyapps.io/syllabustool/" target="_blank"> Gender Balance Assessment Tool (GBAT)</a></div>
                            <div class="box tool"><a href="https://doi.org/10.31234/osf.io/rfkyu" target="_blank">Citation audit survey (Darda et al., 2023)</a></div>
                            <div class="box tool"><a href="https://scholar.google.com/scholar_lookup?title=Writing+your+journal+article+in+twelve+weeks%3A+A+guide+to+academic+publishing+success&author=W.+L.+Belcher&publication_year=2019&doi=10.7208%2Fchicago%2F9780226500089.001.0001" target="_blank">Gray test (Belcher, 2019)</a></div>
                            <div class="box tool"><a href="https://docs.google.com/spreadsheets/d/1HHM6i1WDaAVzSJxgZG8UtNWP3aRcFprsdVpLZJEWxOQ/edit#gid=759055580" target="_blank">SIBL Citation Audit Template</a></div>
                            <div class="box tool"><a href="http://github.com/dalejn/cleanBib" target="_blank">Citational diversity codebook</a></div>
                            <div class="box tool"><a href="https://genderize.io/" target="_blank">Genderize</a></div>
                            <div class="box tool"><a href="https://doi.org/10.18357/kula.135" target="_blank">Template for citing Indigenous peoples (MacLeod, 2021)</a></div>
                            <div class="box tool"><a href="https://doi.org/10.1371/journal.pone.0221212" target="_blank">Inwardness metric (Baccini et al., 2019)</a></div>
                            <div class="box practice"><a href="https://doi.org/10.1016/j.tics.2020.06.009" target="_blank">Citational diversity statement (Zurn et al., 2020)</a></div>
                            <div class="box tool"><a href="https://psych.wisc.edu/gcbialyzer/" target="_blank">GCBI-alyzer</a></div>
                            <div class="box tool"><a href="https://doi.org/10.31234/osf.io/6kvqg" target="_blank">Annotated reference list (Lawson et al., 2025)</a></div>
                            <div class="box tool"><a href="#" target="_blank">Citing R packages (and other tools)</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Legend -->
        <div class="legend">
            <div class="legend-item practice"><a href="#" >Key Practices</a></div>
            <div class="legend-item tool"><a href="#" >Tools</a></div>
        </div>
    </div>

    <script>
        // hover effects for boxs
        document.querySelectorAll('.box').forEach(hex => {
            hex.addEventListener('mouseenter', function() {
                this.style.transition = 'all 0.3s ease';
            });
        });
    </script>
</body>
