<!-- layouts/shortcodes/ga_top_pages_yearly.html -->
{{ if .Site.Data.ga_data.top_pages_yearly }}
<h3 id="-by-destination-1">&hellip; by destination</h3>
{{ $limit := 10 }}
{{ if .Get "limit" }}
  {{ $limit = .Get "limit" }}
{{ end }}
<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Views (Last Year)</th>
    </tr>
  </thead>
  <tbody>
    {{ range first $limit .Site.Data.ga_data.top_pages_yearly }}
    <tr>
      <td>
        {{ with .Site.GetPage .page }}
          {{ if ne .Title "" }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .RelPermalink }}</a>
          {{ end }}
        {{ else }}
          <a href="https://forrt.org{{ .page }}">https://forrt.org{{ .page }}</a>
        {{ end }}
      </td>
      <td>{{ .views }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
